{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('log') }}
{% endblock %}

{% block body %}
    {{ form_start(registrationForm, {'attr': {'class': 'log-form uk-card uk-card-default'}}) }}
    <fieldset class="uk-fieldset">
        <legend class="uk-legend log-form-legend">Create an account</legend>
        <div class="uk-margin">
            {{ form_row(registrationForm.username, {'attr': {
                'class': 'uk-input',
                'placeholder': 'Username'
            }}) }}
        </div>
        <div class="uk-margin">
            {{ form_row(registrationForm.email, {'attr': {
                'class': 'uk-input',
                'placeholder': 'Email'
            }}) }}
        </div>
        <div class="uk-margin">
            {{ form_row(registrationForm.plainPassword, {'attr': {
                'class': 'uk-input',
                'placeholder': 'Password'
            }}) }}
        </div>
        <div class="uk-margin">
            {{ form_widget(registrationForm.save, {'attr': {
                'class': 'uk-button uk-button-primary log-form-submit',
            }}) }}
        </div>
    </fieldset>
    {{ form_end(registrationForm) }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('log') }}
{% endblock %}
